# http://blogs.perl.org/users/smylers/2011/08/ssh-productivity-tips.html

# Forward SSH connections to subsequent servers.
ForwardAgent yes

# Proxy an SSH connection through an intermediary server.
# Host db
#   HostName db.internal.example.com
#   ProxyCommand ssh gateway -W %h:%p

# SSH port forwarding (port 5433 local maps to 5432 on remote)
# Host db
#   LocalForward 5433 localhost:5432

# Host *
#   ControlMaster auto
#   ControlPath ~/.ssh/control/%r@%h:%p
#   ControlPersist 1h

# ssh git@github.com
Host github
  HostName github.com
  User git

# ssh git@bitbucket.org
Host bitbucket
  HostName bitbucket.org
  User git

# ssh gerty@gerty.local
Host gerty
  HostName gerty.local
  User gerty

